<h1>REGISTER</h1>
<form action="/register" method="post">
    <input type="email" placeholder= "email address" id="email"name="email" name="email">
    <input type= "text" placeholder= "password" id="password" name="password">
    <button type="submit">Register</button>
</form>